{% extends 'base.html' %}



{% block title %}
    SignUp
{% endblock title %}
    


{% block css %}

<style>
    html,
body {
  height: 100%;
  width: 100%;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main{
    width: 100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    background-color: black;
}
button{
    padding: 20px 100px;
    margin:0 auto;
}
img{
    margin: 0 auto;
}
.firom{
    display: flex;
    flex-direction: column;

}
</style>
    
{% endblock css %}
    

{% block content %}
<main class=" text-white">
  <form class="form-signin border p-4 firom" method="post" action="">
      {% csrf_token %}
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-4 font-weight-normal text-center">Create User</h1>
        
        {{form}}
      
        <button class="btn btn-lg btn-success px-4 btn-block" type="submit">Create</button>
        
    </form>
</main>
    {% endblock content %}
    